
            @model Web_AdminLTE_Bootstrap_4_dotNet_Indetify.Models.Empregado

            @{
                ViewData["Title"] = "Details";
            }

            <h1>Detalhes</h1>

            <div>
                <h4>Empregado</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NameCompleto)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameCompleto)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EmpCode)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EmpCode)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Posicao)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Posicao)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LocalizacaoTrabalho)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LocalizacaoTrabalho)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.EmpregadoId">Editar</a> |
                <a asp-action="Index">Voltar</a>
            </div>